body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 14px;
    padding: 0px;
    margin : 0;
}
article{ margin : 0 10%; }
.img-me,img{
    width: 200px;
}
.logo-delphi{
  position: relative;
  left: 15%;
  top: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 130px;
}
.logo-sews{
  width: 45%;
  position: relative;
  left: 15%;
  top: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 75%;
  height: 130px;
}
.logo-sonasid{
  position: relative;
  left: 15%;
  top: 18px;
  border: 1px solid gray;
  border-radius: 5px;
}
.mail-icon,.tel-icon, .fb-icon, .in-icon{
  width: 50px;
  width: 40%;
  margin-left: 10%;
  position: relative;
  top: -10px;
}
.img-me{
    border: 2px solid #888;
    border-radius: 5px;
    padding: 0;
    margin: 0px;
    position: relative;
    top: -100px;
}
h1{
    font-size: 40px;
    color: #222;
    font-weight: normal;
    text-align: center;
    clear: both;
}
.contact a{
 text-decoration: none;
 color: black;
}
h2{
    text-transform: uppercase;
    background-color: #BFB;
}
header{
    height: 100px;
}
footer{
    height: 80px;
    background-color: #C5C5C5;
    padding-top: 30px;
    text-align: center;
    border-top: 2px solid #888;
}
article h3{ background-color: pink;
    }
nav{
    width: 100%;
    background-color: #424558;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none; /* Supprimer les puces avant les list items*/
    float: left;
}
nav a{
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.div1{
    display: table; /* !!! LORSQUE LES FILS D'UN ELEMENT SONT FLOTTANTS,
                     * LA HAUTEUR DE CET ELEMENT VA AVOIR LA VLEUR "0", DONT IL VA COLLAPSER,
                     * POUR EVITER CELA, ON FAIT APPELL A LA REGLE JUSTE MENTIONEE  */
    margin: 0 auto;
}
.menu-ind:hover{
    border-top: 5px solid #4C8;
    background-color: RGBa(64, 200, 130, 0.15);
}

.menu-exp:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211,79, 0.15);
}
.menu-for:hover{
    border-top: 5px solid #0070dd;
    background-color: RGBa(000, 112, 192, 0.15);
}
.menu-hob:hover{
    border-top: 5px solid #e44d26;
    background-color: RGBa(228, 77, 83, 0.15);
}
.menu-con:hover{
    border-top: 5px solid #f5a111;
    background-color: RGBa(228, 162, 18, 0.15);
}
nav ul:hover a{
    padding: 20px 30px 15px 30px;
 }
.contact a:hover{
 color: orange;
}
section{
    width: 100%;
    min-height: 150px;
    padding-bottom: 10px;
    margin-bottom: 5%;
}
.sec{
    margin: 0px 10px; 
}
.materiaux h1{
   border: 2px solid #555;
   padding: 10px;
}
.auto h1{
 border: 2px solid #555;
 padding: 10px;
}
.left{
    float: left;
    width:30%
}
.right{
    float:right;
    width: 70%;
}
.exp-left{
    float: left;
    width:25%
}
.exp-right{
    float: right;
    width:75%
}
.contact-left, .contact-right{
 float: left;
 width: 20%;
}
.cleft, .cright, .sous-left, .sous-right{
    float: left;
    width: 50%;
}
.sec::after, .exp::after, .recom::after, .for::after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}